a {
  text-decoration: none;
}

body {
  font-family: Roboto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.banner-main-wrapper {
  max-width: 1456px;
  width: 100%;
  height: 180px;
  position: relative;
  overflow: hidden;
  background-color: #d0dde6;
}

.students-image {
  width: 856px;
  height: 250px;
  background: url("css_sprites_1.png") -10px -10px;
  position: absolute;
  left: -80px;
  top: -15px;
  -o-object-fit: fill;
     object-fit: fill;
}

.logo {
  width: 55px;
  height: 55px;
  background: url("css_sprites_1.png") -10px -280px;
  bottom: 0;
  left: 0;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.background-logo {
  position: absolute;
  top: -110px;
  left: 30px;
  opacity: 0.15;
}

.background {
  width: 0;
  height: 180px;
  position: absolute;
  right: 0;
  margin: 0;
  background-color: #1836b2;
  -webkit-animation: background-animation 2s 0.5s forwards;
          animation: background-animation 2s 0.5s forwards;
}

.link {
  font-size: 25px;
  color: black;
  font-weight: 700;
  display: block;
  position: absolute;
  width: 200px;
  height: 55px;
  background-color: #e3ff96;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 25px;
  top: 25px;
  -webkit-clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
          clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  opacity: 0;
  -webkit-animation: link-animation 1.2s 2.8s forwards;
          animation: link-animation 1.2s 2.8s forwards;
}

.text-wrapper {
  width: 515px;
  padding-left: 140px;
  margin-top: 26px;
}

.text {
  font-weight: 900;
  color: white;
  letter-spacing: 1px;
}
.text--small {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.text--main {
  font-size: 30px;
  margin-top: 13px;
  margin-bottom: 0;
}

@-webkit-keyframes background-animation {
  from {
    width: 0;
    -webkit-clip-path: polygon(1% 0%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(1% 0%, 100% 0, 100% 100%, 0% 100%);
  }
  80% {
    width: 738px;
    -webkit-clip-path: polygon(8% 0%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(8% 0%, 100% 0, 100% 100%, 0% 100%);
  }
  100% {
    width: 820px;
    -webkit-clip-path: polygon(15% 0%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(15% 0%, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes background-animation {
  from {
    width: 0;
    -webkit-clip-path: polygon(1% 0%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(1% 0%, 100% 0, 100% 100%, 0% 100%);
  }
  80% {
    width: 738px;
    -webkit-clip-path: polygon(8% 0%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(8% 0%, 100% 0, 100% 100%, 0% 100%);
  }
  100% {
    width: 820px;
    -webkit-clip-path: polygon(15% 0%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(15% 0%, 100% 0, 100% 100%, 0% 100%);
  }
}
@-webkit-keyframes link-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes link-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */